/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

#logo_home h1 a {
    display: block;
    width: 180px;
    height: auto;
    background-image: none;
    text-indent: -9999px;
}

#logo_home img {
  margin-top: 4px;
  margin-left: 6px;
  width: 190px;
}
only screen and (min-device-pixel-ratio: 2) {
    #logo_home h1 a {
      background-image: none;
    }
}

.icon-room {
  font-size: 1.7em;
  margin-top: 8px;
}

@media only screen and (min-width: 768px) {
  #claim-button-mobile {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #claim-button-mobile-container {
    display: flex;
    min-height: 130vh;
  }

  #claim-button-mobile {
    margin: auto;
    z-index: 2;
  }
}
