/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/


#logo_home h1 a {
    width: 58px;
    height: 58px;
    display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
    text-indent: -9999px;
    background-color: white;
    padding: 20px;

}
only screen and (min-device-pixel-ratio: 2) {
    #logo_home h1 a {
        background-image: url(../img/logo_2x.png);
        background-size: 48px 48px;
        background-color: white;
        padding: 20px;
    }
}

.icon-room {
  font-size: 1.7em;
  margin-top: 8px;
}
