<div class="intro_txt animated fadeInUp">
    <h2>Welcome to Clariclaim</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit qui voluptatum enim est deserunt assumenda, aspernatur quam aperiam!</p>
</div><!-- /intro_txt -->

<video id="my-video" class="video" loop muted autoplay playsinline>
  <source src="media/clariclaim-video.mp4" type="video/mp4">
  <source src="media/clariclaim-video.ogv" type="video/ogg">
  <source src="media/clariclaim-video.webm" type="video/webm">
</video><!-- /video -->
<div class="video_fallback"></div>

<div class="layer"></div><!-- /mask -->
