<div class="intro_txt animated fadeInUp">
    <h2>INSURANCE CLAIMS ARE CONFUSING, GET THE CLARIFICATION YOU NEED.</h2>
    <p>Replacement Cost? Proof of loss? Remove and Reset? No matter what type of loss you suffered, We Can help.</p>
</div><!-- /intro_txt -->

<video id="my-video" class="video" loop muted autoplay playsinline>
  <source src="media/clariclaim-video.mp4" type="video/mp4">
  <source src="media/clariclaim-video.ogv" type="video/ogg">
  <source src="media/clariclaim-video.webm" type="video/webm">
</video><!-- /video -->
<div class="video_fallback"></div>

<div class="layer"></div><!-- /mask -->
