<div class="row bg-black">
  <div class="col-md-6">
    <div class="position-relative">
      <a href="media/clariclaim-v1.mp4" class="video_modal w-100" title="Play video!">
        <img src="media/clariclaim.png" alt="" class="img-fluid w-100">
      </a>
      <div class="position-absolute w-100 t-100">
        <div class="row d-none">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <h2>$443 Billion</h2>
            <h3>Insurance Claims Yearly</h3>
            <h5>Learn how we can maximize your claim with our simple 3 step process. Upload your estimate today and be at ease knowing we?ve got your coverageLearn how we can maximize your claim with our simple 3 step process. Upload your estimate today and be at ease knowing we?ve got your coverage</h5>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row mt-3">
      <div class="col-md-2"></div>
      <div class="col-md-8 col-12">
        <form class="bg-white p-3">
          <label>Get started in minutes, fill out the form</label>
          <div class="form-group">
            <input type="email" name="claim[email]" class="required form-control" placeholder="Email">
            <input type="text" name="claim[last_name]" class="required form-control" placeholder="Last Name">
          </div>
          <div class="form-group select">
              <div class="styled-select">
                  <select class="required" id="loss_type" name="claim[loss_type]" onchange="showTypeOfLoseInput()">
                    <option value="" selected>Loss Type</option>
                    <option value="Fire">Fire</option>
                    <option value="Wind">Wind</option>
                    <option value="Water">Water</option>
                    <option value="Hail">Hail</option>
                    <option value="Frozen Pipe">Frozen Pipe</option>
                    <option value="Collapse">Collapse</option>
                    <option value="Car into a dwelling">Car into a dwelling</option>
                    <option value="Other">Other</option>
                    <option value="Named Storm">Named Storm</option>
                  </select>
              </div>
          </div><!-- /select-->
          <div class="form-group">
              <input type="text" id="loss_location" name="claim[loss_location]" class="required form-control" placeholder="Enter your loss location here">
              <input type="hidden" id="loss_location_point" name="claim[loss_location_point]" value="">
              <input type="hidden" id="loss_location_meta" name="claim[loss_location_meta]" value="{}">
          </div>
          <input type="submit" name="" class="form-control">
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
<!-- <div class="container margin_60_35" style="margin-top: 126px;">
	<div class="row justify-content-center">
    <div class="row magnific add_bottom_15">
    	<div class="col-md-6">
    		<p>
    			<a href="media/clariclaim-v1.mp4" class="video_modal" title="Play video!">
            <img src="media/clariclaim.png" alt="" class="img-fluid">
    			</a>
    		</p>
    	</div>
    	<div class="col-md-6" style="text-align: center;">
    		<p style="padding:25px; ">
    			</p><h3 style="padding:5px">Clarify Today</h3>
    			<p><a href="#0" class="btn_outline" onclick="openClaimForm()">Start Now</a> </p>
    		<p></p>
    	</div>
    </div>
  </div>
</div> -->

<script type="text/javascript">
  function openClaimForm() {
    $Mc = $('#main_container');
    $Layer = $('.layer');
    $Mc.addClass("show_container")
    $Layer.addClass("layer-is-visible")
    $('#tab_1').addClass("active show");
  }
</script>
