<div id="main_container">

    <div id="header_in">
        <a href="#0" class="close_in "><i class="pe-7s-close-circle"></i></a>
    </div>

    <div class="wrapper_in">

        <div class="container-fluid">
            <div class="tab-content">
              <%= render "tabs/tab_1" %>
              <%= render "tabs/tab_2" %>
              <%= render "tabs/tab_3" %>
            </div><!-- /tab content -->
        </div><!-- /container-fluid -->
    </div><!-- /wrapper_in -->
</div><!-- /main_container -->
