<div id="additional_links">
    <ul>
        <li>© <%= Time.now.year %> Clariclaim</li>
        <li><a href="#0" data-toggle="modal" data-target="#policy-txt">Privacy Policy</a></li>
        <li><a href="#0" data-toggle="modal" data-target="#terms-txt">Terms of Use</a></li>
        <li><a href="#tab_3" onclick="showContact()">Contact</a></li>
    </ul>
</div><!-- /add links -->

<%= render "modals/modal" %>

<!-- SCRIPTS -->
<!-- Jquery-->
<script src="js/jquery-3.5.1.min.js"></script>
<!-- Common script -->
<script src="js/common_scripts_min.js"></script>
<!-- Theme script -->
<script src="js/file-validator.js"></script>
<script src="js/functions_with_upload.js"></script>

<!-- Google map -->
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTnrAc18j5zHsTD5z-wA1SNqJ0ExJfRH8&callback=initAutocomplete&libraries=places&v=weekly"
  async
></script>

<script src="js/mapmarker.jquery.js"></script>
<script src="js/mapmarker_func.jquery.js"></script>

<script type="text/javascript">
  function showContact() {
    $Mc = $('#main_container');
    $Layer = $('.layer');
    $Mc.addClass("show_container")
    $Layer.addClass("layer-is-visible")
    $('#tab_3').addClass("active show");
  }
</script>
