<div class="tab-pane fade" id="tab_1">
  <div class="subheader" id="quote"></div>
  <div class="row">
      <aside class="col-xl-3 col-lg-4">
          <h2>THE DETAILS ARE OUR SPECIALITY ALONG WITH KNOWING YOUR INSURANCE CLAIM.</h2>
          <p class="">We care about your claim along with your financial well-being. With insurance experts, consultants and industry leaders our state of the work programming and technology run reports to ensure your claim includes everything you are rightfully owed.
Our only objective is to maximize your claim.</p>
<p class="">Once we learn about your claim and we can start the process immediately.</p>
          <ul class="list_ok">
              <li>Answer Easy Questions</li>
              <li>Upload your Adjusters Figures</li>
              <li>Review results</li>
          </ul>
      </aside><!-- /aside -->

      <div class="col-xl-9 col-lg-8">
          <div id="wizard_container">
              <div id="top-wizard">
                  <strong>Progress</strong>
                  <div id="progressbar"></div>
              </div><!-- /top-wizard -->

            <%= form_tag(claims_path, { method: :post, multipart: true }) do %>
              <input id="website" name="website" type="text" value=""><!-- Leave for security protection, read docs for details -->
              <div id="middle-wizard">
                <%= render "steps/step_1" %>
                <%= render "steps/step_2" %>
                <%= render "steps/step_3" %>
              </div><!-- /middle-wizard -->

              <div id="bottom-wizard">
                  <button type="button" name="backward" class="backward">Backward </button>
                  <button type="button" name="forward" class="forward">Forward</button>
                  <button type="submit" name="process" class="submit">Submit</button>
              </div><!-- /bottom-wizard -->
            <% end %>
          </div><!-- /Wizard container -->

      </div><!-- /col -->
  </div><!-- /row -->
</div><!-- /TAB 1:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
