<div class="step">

    <h3 class="main_question"><strong>2/3</strong>Please fill with your details</h3>

    <%# render "steps/package" %>

    <input type="hidden" id="package" name="claim[package_id]" value="3">

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input type="text" name="claim[first_name]" class="required form-control" placeholder="First name">
            </div>
            <div class="form-group">
                <input type="text" name="claim[last_name]" class="required form-control" placeholder="Last name">
            </div>
            <div class="form-group">
                <input type="text" name="claim[phone]" class="required form-control" placeholder="Phone">
            </div>

            <div class="form-group">
                <div class="styled-select">
                    <select class="required" name="claim[contact_preference]">
                        <option value="" selected>Select your contact preference</option>
                        <option value="phone">Phone</option>
                        <option value="email">Email</option>
                    </select>
                </div>
            </div>
        </div><!-- /col-sm-6 -->

        <div class="col-sm-6">
            <div class="form-group">
              <input type="text" name="claim[address]" class="required form-control" placeholder="Address">
            </div>
            <div class="form-group">
                <input type="text" name="claim[city]" class="required form-control" placeholder="City">
            </div>
            <div class="form-group">
                <input type="text" name="claim[state]" class="required form-control" placeholder="State">
            </div>
            <div class="form-group">
                <input type="text" name="claim[zipcode]" class="required form-control" placeholder="Zipcode">
            </div>
        </div><!-- /col-sm-6 -->
    </div><!-- /row -->

    <%# render "steps/addons" %>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.application.credentials.stripetest[:pk] %>"
            data-description="ClariClaim Services"
            data-amount="5999"
            data-locale="auto"></script>

</div><!-- /step 2-->

<script src="js/jquery-3.5.1.min.js"></script>

<script type="text/javascript">
  $('input[name="claim[addons_101]"]').click(function(el){
    if (el.currentTarget.parentElement.classList.contains("checked")) {
      $("#supplemental_room").show();
    } else {
      $("#supplemental_room").hide();
    }
  });

  function addRoom() {
    room_key = Math.random().toString(36).substring(2,7);
    new_room = `<div class="row" id="room_${room_key}">
                  <div class="col-sm-6">
                      <div class="form-group">
                          <input type="text" name="claim[room_name][]" class="form-control" placeholder="Room Name">
                      </div>
                  </div>
                  <div class="col-sm-5">
                      <div class="form-group">
                        <input type="text" name="claim[room_dimension][]" class="form-control" placeholder="Room Dimension (L x W x H)">
                      </div>
                  </div>
                  <div class="col-sm-1">
                    <div class="form-group text-center">
                      <a href="#0" onclick="$('#room_${room_key}').remove();"><i class="icon-minus-circled icon-room"></i></a>
                    </div>
                  </div>
                </div>`

    $("#supplemental_room").append(new_room);
  }

  function toogleAddons(el, id) {
    if (el.classList.contains("checked")) {
      el.classList.remove("checked");
      el.parentElement.classList.remove("checked");
      el.value = '';
    } else {
      el.classList.add("checked");
      el.parentElement.classList.add("checked");
      el.value = id;
    }
  }
</script>
