<div class="submit step">

    <h3 class="main_question"><strong>3/3</strong>Others</h3>

    <div class="form-group">
      <label>Images<br><small>(Files accepted: .png, .jpg, .jpeg - Max file size: 25Mb)</small></label>
      <div class="fileupload">
        <input type="file" name="claim[images]" multiple accept="image/*">
      </div>
    </div>

</div><!-- /step 3-->

<script src="js/jquery-3.5.1.min.js"></script>
