<form novalidate="novalidate">
  <center><b>Review Items</b></center>
  <br>
  <fieldset class="inputs" style="padding: 20px;">
    <ol>
      <li class="input stringish">
        <label class="label">Item Name</label>
        <input id="item-name" maxlength="255" type="text" value="Room: (living Room)">
        <br>
        <br>
        <fieldset class="inputs" style="padding: 12px; margin: 0 30px;">
          <ol>
            <li class="input stringish">
              <label class="label">Description</label>
              <input id="item-desc" maxlength="255" type="text" value="Remove and Reset Contents">
            </li>
            <li class="input stringish">
              <label class="label">Quantity</label>
              <input id="item-quantity" maxlength="255" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">Unit</label>
              <input id="item-unit" maxlength="255" type="text" value="1">
            </li>
            <li class="input stringish">
              <label class="label">Price</label>
              <input id="item-price" maxlength="255" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">ACV</label>
              <input id="item-acv" maxlength="255" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">RCV</label>
              <input id="item-rcv" maxlength="255" type="text" value="$500.00">
            </li>
          </ol>
        </fieldset>
      </li>
    </ol>
    <div class="buttons" style="float: right;">
      <input type="button" name="add" value="Add New Item" data-disable-with="Add New Item" onclick="AddItem();">
    </div>
  </fieldset>

  <br>
  <%- begin %>
    <%- column = @claim.meta["tables"].first.keys %>

    <table id="items">
      <h3>Room: (living Room)</h3>
      <tr>
        <th></th>
        <%- ["DESCRIPTION", "QUANTITY", "UNIT", "PRICE", "ACV", "RCV"].each_with_index.each do |key| %>
          <th>
            <%= key.upcase %>
          </th>
        <%- end %>
      </tr>
      <%- (1..2).each_with_index do |row, index| %>
        <tr id="items">
          <td></td>
          <td>
            Remove and Reset Contents
          </td>
          <td>
          </td>
          <td>
            1
          </td>
          <td>
          </td>
          <td>
          </td>
          <td>
            $500.00
          </td>
          <td onclick="removeItem(this);" style="cursor: pointer;">
            X
          </td>
        <tr>
      <%- end %>
    </table>

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      .attributes_table table td {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
      }

    </style>

  <%- rescue %>
    <p>Data not found.</p>
  <%- end %>


</form>

<br>
<hr>
<br>
<div class="buttons" style="float: right;">
  <a href="<%= export_claim_url(format: :pdf) %>" target="_blank" id="save-review">
    <input type="submit" name="commit" value="Save & Export" data-disable-with="Save & Export">
  </a>
</div>

<script type="text/javascript">
  function AddItem() {
    row      = document.getElementById('items');
    desc     = document.getElementById('item-desc').value;
    quantity = document.getElementById('item-quantity').value;
    unit     = document.getElementById('item-unit').value;
    price    = document.getElementById('item-price').value;
    acv      = document.getElementById('item-acv').value;
    rcv      = document.getElementById('item-rcv').value;

    html = `<tr>
              <td></td>
              <td>${desc}</td>
              <td>${quantity}</td>
              <td>${unit}</td>
              <td>${price}</td>
              <td>${acv}</td>
              <td>${rcv}</td>
              <td onclick="removeItem(this);" style="cursor: pointer;">
                X
              </td>
            </tr>`;

    row.innerHTML += html;
  }

  function removeItem(el) {
    el.parentNode.remove();
  }
</script>
