<form novalidate="novalidate">
  <center><b>Review Items</b></center>
  <br>
  <fieldset class="inputs" style="padding: 20px;">
    <ol>
      <li class="input stringish">
        <label class="label">Item Name</label>
        <input id="item-name" maxlength="30" type="text" value="Room: (living Room)">
        <br>
        <br>
        <fieldset class="inputs" style="padding: 12px; margin: 0 30px;">
          <ol>
            <li class="input stringish">
              <label class="label">Description</label>
              <input id="item-desc" maxlength="30" type="text" value="Remove and Reset Contents">
            </li>
            <li class="input stringish">
              <label class="label">Quantity</label>
              <input id="item-quantity" maxlength="9" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">Unit</label>
              <input id="item-unit" maxlength="9" type="text" value="1">
            </li>
            <li class="input stringish">
              <label class="label">Price</label>
              <input id="item-price" maxlength="9" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">ACV</label>
              <input id="item-acv" maxlength="9" type="text" value="">
            </li>
            <li class="input stringish">
              <label class="label">RCV</label>
              <input id="item-rcv" maxlength="9" type="text" value="$500.00">
            </li>
          </ol>
        </fieldset>
      </li>
    </ol>
    <div class="buttons" style="float: right;">
      <input type="button" name="add" value="Add New Item" data-disable-with="Add New Item" onclick="AddItem();">
    </div>
  </fieldset>

  <br>
  <%- begin %>
    <%- column = @claim.meta["tables"].first.keys %>

    <div id="items-container">
      <div class="items">
        <h3>Room: (living Room)</h3>
        <table>
          <tr>
            <%- ["DESCRIPTION", "QUANTITY", "UNIT", "PRICE", "ACV", "RCV"].each do |key| %>
              <th>
                <%= key.upcase %>
              </th>
            <%- end %>
          </tr>
          <tr>
            <td>Remove and Reset Contents</td>
            <td></td>
            <td>1</td>
            <td></td>
            <td></td>
            <td>$500.00</td>
            <td onclick="removeItem(this);" style="cursor: pointer;">X</td>
          <tr>
        </table>
      </div>
    </div>

    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      .attributes_table table td {
        padding: 0;
        padding-top: 5px;
        padding-bottom: 5px;
      }

    </style>

  <%- rescue %>
    <p>Data not found.</p>
  <%- end %>


</form>

<br>
<hr>
<br>
<div class="buttons" style="float: right;">
  <a href="<%= export_claim_url(format: :pdf) %>" target="_blank" id="save-review">
    <input type="submit" name="commit" value="Save & Export" data-disable-with="Save & Export">
  </a>
</div>

<script src="/js/jquery-3.5.1.min.js"></script>

<script type="text/javascript">
  function AddItem() {
    name     = document.getElementById('item-name').value;
    desc     = document.getElementById('item-desc').value;
    quantity = document.getElementById('item-quantity').value;
    unit     = document.getElementById('item-unit').value;
    price    = document.getElementById('item-price').value;
    acv      = document.getElementById('item-acv').value;
    rcv      = document.getElementById('item-rcv').value;

    html = `<tr>
              <td>${desc}</td>
              <td>${quantity}</td>
              <td>${unit}</td>
              <td>${price}</td>
              <td>${acv}</td>
              <td>${rcv}</td>
              <td onclick="removeItem(this);" style="cursor: pointer;">
                X
              </td>
            </tr>`;

    item = findOrCreateItems(name);
    item.lastElementChild.innerHTML += html;
  }

  function findOrCreateItems(text){
    items = document.getElementsByClassName('items');
    newItem = true;

    for (var i=0; i<items.length; i++) {
      if (items[i].firstElementChild.textContent.trim() == text.trim()) {
        newItem = false;
        return items[i];
      }
    }

    if (newItem == true) {
      html = `<div class="items">
                <h3>${text}</h3>
              </div>`;

      container = document.getElementById('items-container');
      container.innerHTML += html;
    }
  }

  function removeItem(el) {
    el.parentNode.remove();
  }

  function tableToJSON(){
    items    = []
    items_el = document.getElementsByClassName('items');
    table    = items_el[0].lastElementChild;

    for (var i=1; i<table.rows.length; i++) {
      if (table.rows[i].textContent.trim() != "") {
        c = {
          description: table.rows[i].cells[0].textContent,
          quantity: table.rows[i].cells[1].textContent,
          unit: table.rows[i].cells[2].textContent,
          price: table.rows[i].cells[3].textContent,
          acv: table.rows[i].cells[4].textContent,
          rcv: table.rows[i].cells[5].textContent
        };

        items.push(c);
      }
    }

    return items;
  }

  $("#save-review").click(function(){
    json_data = tableToJSON();
    $.post("<%= review_claim_url(claim) %>",
      {
        data: json_data
      });
  });
</script>
