<!-- app/views/charges/create.html.erb -->



<!-- app/views/charges/new.html.erb -->

<div style="background-color: white; margin: auto 0; text-align: center; padding: 75px; margin: 20%;border-radius: 20px;">

<h2>Thanks, you paid <strong>$5.00</strong>!</h2>

</div>
